<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Southampton GlobalGameJam 2016</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="//cdn.temasys.com.sg/adapterjs/0.10.x/adapter.debug.js"></script>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyWRUWR2a0yIjdPZMcabHEItp6z3nVrLY&callback=initMap"></script>
  </body>
</html>
