<span id="team-name"></span>
<span id="time-left"></span>
<span id="cells-collected"></span>
<span id="location"></span>

<hr />

<div id="chat">
  <div id="messages"></div>
  <input id="message-input" placeholder="Send..." />
</div>
