<div class="player-page">
  <div class="info-window">
    <p id="time-left"></p>
    <p id="cells-collected"></p>
    <p id="location"></p>
  </div>

  <div class="chat-window">
    <div class="chat-message-history"></div>
    <input class="chat-input" type="text" placeholder="Send..." />
  </div>
</div>
